.row
  .col-md-12.clearfix#infinite-scrolling
    = will_paginate items, renderer: BootstrapPagination::Rails, next_label: %q{<i class='icon-caret-right'></i>}, previous_label: %q{<i class='icon-caret-left'></i>}