- content_for(:page_title){ PhotoExport.model_name.human }
- content_for(:body_class){ 'statusable' }
- if can?(:create, PhotoExport)
  #app
    .row
      .col-sm-12
        %photo-exports-form{ 'v-on:export-received' => 'addPhotoItem' }
    .row
      .col-sm-12
        %photo-exports-list#upload-status.uploads_status{'v-bind:new-export' => 'newExport'}
= javascript_pack_tag 'admin/photo_exports/application'
= stylesheet_pack_tag 'admin/photo_exports/application'
