- content_for(:page_title){ PhotoExport.model_name.human }
- content_for(:body_class){ 'statusable' }
- if can?(:create, PhotoExport)
  #app
    %photo-export

= javascript_pack_tag 'admin/photo_exports/application'
= stylesheet_pack_tag 'admin/photo_exports/application'
